@import '../../public/stylesheets/settings/colors';
@import '../../public/stylesheets/base/headings';

.btn-cta-container {
  background-color: $background-color-light;
  display: flex;
  justify-content: center;
  min-height: 12rem;
}

.btn-cta {
  align-items: center;
  background-color: $primary;
  border-radius: 15px;
  color: $text-color-light;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 2rem;
  width: 500px;

  &:hover {
    background-color: $primary-light;

  }

  &:hover > .btn-content {
    color: $text-color;
  }
}

.btn-content {
  align-items: center;
  color: $text-color-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}

.btn-text {
  font-size: $heading-size-5;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}


@media (min-width: 640px) {
  .btn-text {
    font-size: $heading-size-4;
  }

  .btn-cta {
    margin: 4rem;
  }
}

@media (min-width: 1200px) {
  .btn-text {
    font-size: $heading-size-4;
  }

  .btn-cta {
    margin: 8rem;
  }
}
