@import '../../public/stylesheets/settings/colors';
@import '../../public/stylesheets/base/headings';

.header-container {
  background-image: url('../../public/images/vegetables-min.jpg');
  background-position: center;
  background-size: cover;
  //border-top: 9px solid $primary;
}

.header-wrapper {
  background-color: $background-filter;
  padding-bottom: 45%;
  padding-right: 12px;
  padding-left: 12px;
  position: relative;

}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-title {
  color: $text-color-light;
  text-shadow: 0 0 3px $text-color-light-shadow;
  width: 40%;
}

.header-description {
  bottom: 1rem;
  color: $text-color-light;
  font-weight: normal;
  left: 2rem;
  margin: 0;
  position: absolute;
  right: 2rem;
  text-align: center;
  text-shadow: 0 0 2px $text-color-light-shadow;
}


@media (min-width: 640px) {
  .header-container {
    max-height: 382px;
  }

  .header-wrapper {
    height: 382px;
    padding-bottom: 0;
  }

  .header-description {
    font-size: $heading-size-3;
  }

}
