@import '../../public/stylesheets/settings/colors';

.home-content-container {
  background-color: $background-color-light;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 20rem;
}
