@import '../../public/stylesheets/settings/colors';

.home-content-item-container {
  display: flex;
  justify-content: space-around;;
  align-items: center;
  padding: 2rem;
  width: 400px;
  height: 6rem;
  > p {
    width: 80%;
    padding-left: 20%;
  }
}

@media (min-width: 800px) {
  .home-content-item-container {
    height: 8rem;
  }
}
