@import '../../public/stylesheets/settings/colors';

.page-container {
  background-color: $background-color-light;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // > div {
  //   flex: 1;
  // }
}
